form {
  border-bottom: 1px solid rgba(151, 114, 243, 0.2);
  margin-top: 40px;
  padding-bottom: 30px;
}

.row ul {
  margin: 0;
  padding: 0;
}

li .conditions {
  color: #954edb;
}

footer {
  color: rgba(39, 33, 66, 0.4);
  font-size: 14px;
  line-height: 18px;
  margin-top: 40px;
  text-align: center;
  display: block;
}

footer a {
  color: #9772f3;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}

footer a:hover {
  color: #9772f3;
}
